header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  grid-gap: 16px;
  padding: 0;
}

.redditLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.redditLogo svg {
  margin: 0 10px;
  color: blue;
}
.redditSiteName {
  color: red;
  font-size: 1.4rem;
}
.redditMinimal {
  color: blue;
}
.search {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
